# Environment Configuration Example for Poshsaaz
NODE_ENV=production
PORT=3000

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=dtcy9bbux
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
